@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

* {
    font-family: 'Roboto Mono', monospace;
    /* font-family: 'Press Start 2P', cursive; */
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

#LeaderBoard {
    position: absolute;
    top: 20px;
    left: 20px;
    background-color: black;
    color: white;
    padding: 2vw;
}

#FPS {
    position: absolute;
    right: 20px;
    bottom: 20px;
    background-color: black;
    color: #00ff00;
    padding: 2vw;
}

#LeaderBoard hr {
    background: #fff;
    margin-top: 20px;
    margin-bottom: 30px;
    border: none;
    width: 100%;
    height: 5px;
}

body {
    margin: 0px;
    padding: 0px;
    font-size: 12px;
}

canvas {
    display: block;
}

#population {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: black;
    color: white;
    padding: 2vw;
}

#levelUp {
    position: absolute;
    bottom: 20px;
    left: 20px;
    background-color: black;
    color: white;
    padding: 2vw;
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

#levelUp:hover {
    background-color: white;
    color: black;
    cursor: pointer;
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}
